/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: url(./images/background.webp);
  background-size: cover;
  background-position: center;
}
.container{
  position: relative;
  top: 100px;
  width: 400px;
  height: 90px;
  border-radius: 16px;
  padding: 20px;
  background: rgba(255, 255, 255, .2);
  color: #000;
  transition: height .6s ease;
}
.search-box{
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.search-box i{
  position: absolute;
  left: 10px;
  font-size: 20px;
}
.search-box input{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(1, 1, 1, 0.3);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
  padding: 0 48px 0 42px;
}
.search-box input::placeholder{
  color: #000;
  text-transform: capitalize;
}
.search-box button{
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #000;
  padding: 0 20px 15px 5px;
  cursor: pointer;
  text-align: center;
}

.weather-box{
  text-align: center;
  margin: 40px 0;
}
.weather-box img{
  width: 60%;
}
.temp{
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}
.temp span{
  position: absolute;
  font-size: 30px;
  margin-left: 4px;
}
.des{
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.weather-details{
  position: absolute;
  bottom: 40px;
  padding: 0 20px;
  left: 0;
  width: 100%;
  display: flex;
}
.humidity,
.wind{
  display: flex;
  align-items: center;
  width: 50%;
}
.humidity{
  justify-content: flex-start;
}
.wind{
  justify-content: flex-end;
}
.weather-details i{
  font-size: 45px;
  margin-right: 10px;
}
.weather-details span{
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
.weather-details p{
  font-size: 18px;
  font-weight: 500;
}

.weather-box,
.weather-details,
.error{
  visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.error.active{
  visibility: visible;
}

.error{
  position: absolute;
  text-align: center;
  margin: 50px 0px 50px -20px ;
}
.error img{
  width: 65%;
}
.error p{
  font-size: 25px;
  font-weight: 500;
  margin-top: 12px;
}